<h2>Write a new post!</h2>
<div class="well">
<form ng-Submit="post()">
	   <!--Title-->
		 <div class="form-group">
		  	<textarea class="form-control" placeholder="Write a title here..." rows="1" ng-model="title"></textarea>
		 </div>
		 <!--text-->
		 <div class="form-group">
			  <textarea class="form-control" placeholder="Write some text here..." rows="5" ng-model="text"></textarea>
		 </div>
		  <!--submit button-->
			 <button type="submit" class="btn btn-success">Submit</button>
	 </form>
 </div>
<h3>Posts</h3>
<div class="well" ng-repeat="post in posts | orderBy:'created':true">
	<a ng-click="deletePost(post)" class="pull-right" style="color:black;"><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a>
	<h4>{{post.title}}</h4>
	<p>{{post.text}}</p>
</br>
	<small class="pull-right">{{post.created | date:"h:mma 'on' MMM d, y"}}</small>
</div>
